[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/Kanna"]
	path = Carthage/Checkouts/Kanna
	url = https://github.com/tid-kijyun/Kanna.git
[submodule "Carthage/Checkouts/Kingfisher"]
	path = Carthage/Checkouts/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
